<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./fullstory.css">
</head>
<body>
    <div class="fline">
        <h1  id="fulls">Full Story</h1>
        <hr id="fuline">
        <h6  id="seeall">see all</h6>
    </div>
    <div id="story">
        <div  id="scontent">
            <h1 id="hcontent">i am secound news</h1>
            <p id="pcontent">hey hello you want in it more news for your self.</p>
            <button  id="Read">READ MORE</button>
        </div>
        <div id="imcontent">
            <img src="./IMG%201.jpg" alt="" id="icontent">
        </div>
       
    </div>
     <div id="combine">
            <div id="combine1"><img src="./IMG%201.jpg" alt=""><h3>news1</h3></div>
            <div id="combine2"><img src="./IMG%201.jpg" alt=""><h3>news2</h3></div>
            <div id="combine3"><img src="./IMG%201.jpg" alt=""><h3>news 3</h3></div>
        </div>
    <div  id="maindiv">
        <div id="m1"><h1>this is for news which is about bbc</h1><img src="./IMG%201.jpg" alt=""><p>wshingtpn was find a person who want to shoot some one else.</p></div>
        <div>
            <div><img src="./IMG%201.jpg" alt=""><h3>1news</h3></div>
            <div><img src="./IMG%201.jpg" alt=""><h3>2news</h3></div>
            <div><img src="./IMG%201.jpg" alt=""><h3>3news</h3></div>
        </div>
    </div>
</body>
</html>