<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./header.css">
    <title>Document</title>
</head>
<body>
    <div class="mainhaeder">
        <div class="he1">
            <img src="" alt="">
            <ul>
                <li>Home</li>
                <li>News</li>
                <li>Sport</li>
                <li>reel</li>
                <li>Worklive</li>
                <li>Travel</li>
            </ul>
            <input type="search" placeholder="search for News">
            <button>Login</button>
        </div>
        <hr>
        <div class="he2">
            <h1>HOT NEWS</h1>
            <p>current date form javascript</p>
            <p>weahter</p>
            <p>dollar</p>
        </div>
        <hr>
        <div class="he3">
            <ul>
                <li>Home</li>
                <li>War in isreal</li>
                <li>Climate</li>
                <li>Viideo</li>
                <li>World</li>
                <li>Asia</li>
                <li>UK</li>
                <li>Business</li>
                <li>Tech</li>
                <li>Science</li>
                <li>Stories</li>
                <li>Entertainment and arts</li>
                <li>Health</li>
            </ul>
        </div>
        <hr>
        <hr>
    </div>
</body>
</html>