<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs Website</title>
</head>
<body>
    <%- include('./header.ejs') %>
    <%- include('./news1.ejs') %>
    <%- include('./fullstory.ejs') %>
</body>
</html>