<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./new1.css">
</head>
<body>
    
     <div id="topnews">
        <div class="i">
            <img src="" alt="" id="imgsrc">
        </div>
        <div class="combine">
        <h1 id="title"></h1>
        <p id="shortdes"></p>

        <button id="Read">Read More</button>
        </div>
        
     </div>
    <script src="./topnews.js "></script>
</body>
</html>
